body {
width: auto;
margin: 0px auto;
background-color: #f2f2f2;
}

main {
display: flex;
}

.padding_this{
padding: 15px;
}

.logo,
.navigasi,
.konten,
.sidebar,
.footer {
margin-bottom: 5px;
padding: 15px 0;
}

.logo {
width: 100%;
height: auto;
background: #000000;
text-align: center;
color: #ffffff;
font-family: Arial;
}
.navigasi {
width: 100%;
height: auto;
background: #000001;
text-align: center;
color: white;
}
.konten {
width: 60%;
height: 60%;
background: #000000;
color: white;
}
.sidebar {
width: 40%;
background: #000000;
color: white;
font-family: Arial;
}
.socmed {
width: 100%;
height: 110px;
background: #000000;
text-align: center;
color: white;
border: 2px solid #f2f2f2;
  border-radius: 25px;
}
.footer {
width: 100%;
background: #000000;
text-align: center;
color: white;
}

.navigasi ul{
padding: 0;
list-style: none;
display: inline-block;
margin: 0;
}
.navigasi li{
float: left;
margin: 0 20px;
}
